<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="showGenerateProgram=false;" ng-controller="ChannelsListCtrl">
  
  <div class="col">   

    <!-- jobs list -->
    <div class="row padder">
      <div class="panel panel-default no-border">
        <div class="panel-heading">
          <div class="row m-t-md">
            <div class="col-sm-4">
              品牌：HERMES      标准频道A
            </div>
            <div class="col-sm-6">
              <a class="btn m-b-xs btn-sm btn-primary btn-addon" ng-click="showGenerateProgram=true"><i class="fa fa-plus"></i>关联播放列表</a>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="5">
            <thead>
              <tr>
                  <th data-toggle="true">
                      编号
                  </th>
                  <th>
                      开始日期
                  </th>
                  <th>
                      结束日期
                  </th>
                  <th data-hide="phone,tablet">
                      生成时间
                  </th>
                  <th data-hide="phone,tablet">
                      状态
                  </th>
                  <th data-hide="phone,tablet">
                      备注
                  </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>123</td>
                  <td>2015-10-01</td>
                  <td>2015-10-31</td>
                  <td>2015-06-23</td>
                  <td data-value="1"><span class="label bg-success" title="Active">Active</span></td>
                  <td>10月数据</td>
              </tr>
              <tr>
                  <td>456</td>
                  <td>2015-09-01</td>
                  <td>2015-09-30</td>
                  <td>2015-06-23</td>
                  <td data-value="2"><span class="label bg-light" title="Disabled">Disabled</span></td>
                  <td>9月数据</td>
              </tr>
              <tr>
                  <td>789</td>
                  <td>2015-08-01</td>
                  <td>2015-08-31</td>
                  <td>2015-06-23</td>
                  <td data-value="3"><span class="label bg-warning" title="Suspended">Suspended</span></td>
                  <td>8月数据</td>
              </tr>
              <tfoot class="hide-if-no-paging">
                <tr>
                  <td colspan="5" class="text-center">
                    <ul class="pagination"></ul>
                  </td>
                </tr>
              </tfoot>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /jobs list-->
  </div>

  <!-- right col -->
  <div class="col col-md-4 no-border-xs" name="settingPanel" ng-show="showGenerateProgram">
    <!-- start program setting --> 
    <div class="panel-body b wrapper-md">
      <form name="form" class="form-horizontal m-t-lg form-validation">
      <div class="row">
        <div class="col-sm-10">
          <select name="account" class="form-control m-b">
            <option>option 1</option>
            <option>option 2</option>
            <option>option 3</option>
            <option>option 4</option>
          </select>
          </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">开始日期</label>
          <div class="col-sm-9" ng-controller="DatepickerDemoCtrl">
            <div class="input-group w-sm">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="job.programStartDate" is-open="opened" datepicker-options="dateOptions" close-text="关闭" required/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
            </div>                  
            </div>

            <div class="line"></div>
            <div class="form-group">
              <label class="col-sm-3 control-label">结束日期</label>
              <div class="col-sm-9" ng-controller="DatepickerDemoCtrl">
                <div class="input-group w-sm">
                  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="job.programEndDate" is-open="opened" datepicker-options="dateOptions" close-text="关闭" required/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
              </div>                  
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">备注</label>
              <div class="col-sm-9">
                <input type="text" class="form-control w-sm" ng-model="job.targetProgramName">
              </div>
            </div>

          </div>

          <div class="form-group text-center">
            <button type="submit" class="btn btn-sm btn-success text-uc m-t-n-xs" ng-disabled="form.$invalid" ng-click="startGenerate(job)"><strong>关联</strong></button>
            <button class="btn btn-sm btn-danger m-l-md text-uc m-t-n-xs" ng-click="showGenerateProgram=false"><strong>取消</strong></button>
          </div>
        </form>
      </div>
    <!-- end program setting -->
  </div>
    <!-- / right col -->

</div>