<div class="hbox hbox-auto-xs hbox-auto-sm" >
  <div class="col">

    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black"><a ui-sref="customers.brand">频道管理</a></h1>
          <small class="text-muted">管理各品牌频道及播放编排</small>
        </div>
        <div class="col-sm-6 text-right hidden-xs">

        </div>
      </div>
    </div>
    <!-- / main header -->
    

    <!-- brand list -->
    <div class="col w-lg bg-light b-r bg-auto no-padder" style="height:500px" ng-controller="ChannelsDashCtrl">
      <div class="vbox">
        <div class="wrapper-md dker b-b">
          <div class="input-group">
             <input type="text" class="form-control" ng-model="brandSearchText" placeholder="品牌名称">
             <div class="input-group-btn">
                <button type="button" class="btn btn-default">查找</button>
             </div>
          </div>
        </div>
        <div class="row-row">
          <div class="cell">
            <div class="cell-inner">
              <accordion close-others="true">
                <accordion-group ng-repeat="b in customerDataItems | filter:brandSearchText" class="accordion-body collapse in">
                  <accordion-heading>
                  <span class="label m-l pull-right bg-{{b.channels.length>0?'success':'light'}}">{{b.channels.length}}</span><i class="icon icon-trophy text-muted m-r"></i>{{b.brand | uppercase}}
                  </accordion-heading>
                    <ul class="list-group">
                      <a ui-sref="channels.detail({brandId:b._id,channelId:c._id})" class="list-group-item b-b" ng-repeat="c in b.channels">
                        <span class="label bg-{{c.bg}} m-r">{{c.type}}</span>{{c.name}}
                      </a>
                    </ul>
                </accordion-group>
              </accordion>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /brand list -->

    <div class="col">
      <div class="app-content-body fade-in" ui-view></div>
    </div>

  </div>
</div>