<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="StoreEditCtrl">

<!-- main -->
  <div class="col">

    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-8 col-xs-12">
          <div class="h4 m-t-xs m-b-xs">
            {{store.siteName | uppercase}}店
          </div>
          <small class="text-muted">{{store.reference}}</small>
          <small class="text-muted">经理：{{store.manager.name}}</small>
          <small class="text-muted">店铺地址：{{store.address}}</small>
          <small class="text-muted">创建时间：{{store.created | fromNow}}</small>
          <span class="label bg-primary m-l-sm">频道：{{store.channelName}}</span>
        </div>
      </div>
    </div>

    <!-- main -->
      <div class="row">
        <div class="wrapper-md">
          <div class="panel-heading font-bold">编辑门店信息</div>
            <div class="panel-body">
              <div>
                <label class="col-lg-2">禁用</label>
                <div class="col-lg-6">
                  <input type="checkbox" ng-model="store.disable">
                </div>
              </div>

              <form name="form" class="form-horizontal m-t-lg form-validation" ng-show="!store.disable">
                <div class="form-group">
                  <label class="col-lg-2 control-label">品牌</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" ng-model="brand.brand" required disabled>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-2 control-label">店名</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" ng-model="store.siteName" placeholder="必填" required>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-2 control-label">店铺ID</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" ng-model="store.reference" placeholder="必填" required>
                  </div>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>

                <div class="form-group">
                  <label class="col-lg-2 control-label">频道</label>
                  <div class="col-lg-8">
                    <select ui-jq="chosen" class="form-control" ng-model="selectedChannel" ng-options="option.name for option in channels" required></select>
                    </select>
                  </div>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>

                <div class="form-group">
                  <label class="col-lg-2 control-label">店长姓名</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" ng-model="store.manager" placeholder="必填" required>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-2 control-label">门店电话</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" ng-model="store.phone" placeholder="必填" required>
                  </div>
                </div>

                <!-- <div class="form-group">
                  <label class="col-lg-2 control-label">频道</label>
                  <div class="col-lg-8">
                    <select ui-jq="chosen" class="form-control" ng-model="selectedChannel" ng-options="option.name for option in channels" required></select>
                  </div>
                </div> -->

                <div class="form-group">
                  <label class="col-lg-2 control-label"> 标志发送 </label>
                  <div class="col-lg-2">
                    <input type="checkbox" class="form-control" ng-model="store.deliveryInfo.deliveried">
                  </div>
                  <div class="col-lg-6">
                    <input type="text" class="form-control" ng-model="store.deliveryInfo.comment" placeholder="发送单号" required>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-2 control-label"> 发送日期 </label>
                  <div class="col-lg-8">
                    store.deliveryInfo.deliveryDate
                  </div>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>

                <div class="form-group">
                <label class="col-lg-2 control-label">省份</label>
                <div class="col-lg-8">
                  <select ui-jq="chosen" class="form-control" ng-model="store.province">
                    <option ng-repeat="list in updateperiodlist" value="{{list}}">{{list}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-2 control-label">城市</label>
                <div class="col-lg-8">
                  <select ui-jq="chosen" class="form-control" ng-model="store.city">
                    <option ng-repeat="list in updateperiodlist" value="{{list}}">{{list}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-2 control-label">详细地址</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" ng-model="store.address" placeholder="必填" required>
                </div>
              </div>

              <div class="line line-dashed b-b line-lg pull-in"></div>

              <div class="form-group">
                <div class="col-lg-8 col-lg-offset-2">
                  <button type="submit" class="btn btn-danger" ng-click="hideMe()">取消</button>
                  <button class="btn btn-success w-xs pull-right" ng-disabled="form.$invalid" ng-click="saveStore()">保存</button>
                </div>
              </div>
            </form>


            </div>
          </div>
      </div>
  </div>
  <!-- /main -->

</div>