<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="CustomerDetailCtrl">
  <div class="col">

    <!-- header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black"><a ui-sref="customers.brand">品牌管理</a></h1>
          <small class="text-muted">{{brand.brand | uppercase}}</small>
        </div>
        <div class="col-sm-6 text-right hidden-xs">

          <div class="btn-group dropdown" dropdown>
            <a class="btn m-b-xs btn-sm btn-primary btn-addon" ui-sref="customers.store.add({brandId:brand._id})" ><i class="fa fa-plus"></i>添加门店</a>
            <button class="btn m-b-xs btn-sm btn-primary" dropdown-toggle><span class="caret"></span></button>
             <ul class="dropdown-menu">
              <li><a ui-sref="customers.channel.add({brandId:brand._id})">添加频道</a></li>
              <li class="divider"></li>
              <li><a ui-sref="customers.contact.add({brandId:brand._id})">添加联系人</a></li>
              <li class="divider"></li>
              <li><a ui-sref="customers.brand.edit({brandId:brand._id})">编辑</a></li>
              <!-- <li><a href>删除</a></li> -->
              <li class="divider"></li>
              <li><a ui-sref="customers.invoice({brandId:brand._id})">查看发票</a></li>
              <li class="divider"></li>
              <li><a ui-sref="customers.brand.detail.setmanager({brandId:brand._id})">设置品牌管理员</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- / header -->

    <!-- brand meta -->
    <div class="col w-lg bg-light b-r bg-auto">

      <div class="wrapper-sm b-b">
        <!-- <a ng-click="showItem('editBrand')" class="m-r" tooltip="修改"><i class="fa fa-edit text-muted m-r-sm"></i></a> -->
        <a ui-sref="customers.brand.edit({brandId:brand._id})" class="m-r" tooltip="修改"><i class="fa fa-edit text-muted m-r-sm"></i></a>
        <a ui-sref="customers.store.add({brandId:brand._id})" class="m-r" tooltip="添加门店"><i class="fa fa-bank fw text-muted m-r-sm"></i></a>
        <a ui-sref="customers.channel.add({brandId:brand._id})" class="m-r" tooltip="添加频道"><i class="fa fa-list fw text-muted m-r-sm"></i></a>
        <a ui-sref="customers.contact.add({brandId:brand._id})"  class="m-r" tooltip="添加联系人"><i class="icon icon-user-follow text-muted m-r-sm"></i></a>
      </div>

      <div class="panel-heading b-b wrapper-md">
        <div class="clearfix">
          <div class="pull-left thumb-md avatar b-3x m-r">
            <img src="{{brand.logo==null?'img/default_logo.png':brand.logo}}" alt="{{brand.brand}}">
          </div>
          <div class="clear">
            <div class="h4 m-t-xs m-b-xs">
              {{brand.brand | uppercase}}
            </div>
            <small class="text-muted clearfix">{{brand.industry}}</small>
            <small class="text-muted clearfix">{{brand.status==null?'状态未知':brand.status}}</small>
          </div>
        </div>
      </div>

      <ul class="list-group">

        <a ui-sref="customers.store({brandId:brand._id})" class="list-group-item bg-light" ng-class="{{store==true?'lter':''}}">
          <span class="badge bg-success">{{brand.sitesCount}}</span>
          <i class="fa fa-bank fa-fw text-muted"></i> 
          门店
        </a>

        <a ui-sref="customers.channel({brandId:brand._id})" class="list-group-item bg-light">
          <span class="badge bg-{{channels.length==0?'dk':'info'}}">{{channels.length}}</span>
          <i class="fa fa-list fa-fw text-muted"></i> 
          频道
        </a>

        <a ui-sref="customers.contact({brandId:brand._id})" class="list-group-item bg-light">
          <span class="badge bg-success">{{leader.name}}</span>
          <i class="fa fa-user fa-fw text-muted"></i> 
          联系人
        </a>

        <accordion close-others="true">
          <accordion-group>
            <accordion-heading>
            <i class="fa fa-fw fa-gavel text-muted m-r"></i>合同信息
            </accordion-heading>
              <ul class="list-group">
                <li class="list-group-item bg-light">
                  <span class="badge bg-light">{{brand.updatePeriod}}</span>
                  <i class="fa fa-refresh fa-fw text-muted"></i> 
                  更新周期
                </li>

                <li class="list-group-item bg-light" >
                  <span class="badge bg-light">{{brand.nextUpdateDate | fromNow}}</span>
                  <i class="fa fa-calendar-o fa-fw text-muted"></i> 
                  下次更新
                </li>

                <li class="list-group-item bg-light">
                  <span class="badge bg-light">{{brand.crmInfo.contractDate | date:'yyyy-MM-dd'}}</span>
                  <i class="fa fa-refresh fa-fw text-muted"></i> 
                  合同开始
                </li>

                <li class="list-group-item bg-light">
                  <span class="badge bg-light">{{brand.crmInfo.endContractDate | date:'yyyy-MM-dd'}}</span>
                  <i class="fa fa-refresh fa-fw text-muted"></i> 
                  合同开始
                </li>

                 <li class="list-group-item bg-light">
                  <span class="badge bg-info">{{brand.designFee}}</span>
                  <i class="fa fa-credit-card fa-fw text-muted"></i> 
                  设计费
                </li>

                <li class="list-group-item bg-light">
                  <span class="badge bg-info">{{brand.setupFee}}</span>
                  <i class="fa fa-credit-card fa-fw text-muted"></i> 
                  安装费
                </li>

                <li class="list-group-item bg-light">
                  <span class="badge bg-info">{{brand.monthServiceFee}}</span>
                  <i class="fa fa-credit-card fa-fw text-muted"></i> 
                  月服务费
                </li>
                <li class="list-group-item bg-light">
                  <span class="badge bg-info">{{brand.otherFee}}</span>
                  <i class="fa fa-credit-card fa-fw text-muted"></i> 
                  其它费用
                </li>
                <li class="list-group-item bg-light">
                  <span class="badge bg-info">{{brand.otherFeeComment}}</span>
                  <i class="fa fa-clock-o fa-fw text-muted"></i> 
                  其它费用说明
                </li>
              </ul>
          </accordion-group>
          <accordion-group>
            <accordion-heading>
            <i class="fa fa-fw fa-flag text-muted m-r"></i>基本信息
            </accordion-heading>
              <ul class="list-group">
                <li class="list-group-item bg-light">
                  <span class="badge bg-info">{{brand.companyName}}</span>
                  <i class="fa fa-heart fa-fw text-muted"></i> 
                  公司
                </li>

                <li class="list-group-item bg-light">
                  <span class="badge bg-info">{{brand.created | fromNow}}</span>
                  <i class="fa fa-clock-o fa-fw text-muted"></i> 
                  创建时间
                </li>

                <li class="list-group-item bg-light">
                  <span class="badge bg-info">{{brand.telephone}}</span>
                  <i class="fa fa-phone fa-fw text-muted"></i> 
                  电话
                </li>

                <li class="list-group-item bg-light">
                  <span class="badge bg-info">{{brand.fax}}</span>
                  <i class="fa fa-fax fa-fw text-muted"></i> 
                  传真
                </li>

                <li class="list-group-item bg-light">
                  <span class="badge bg-info">{{brand.address}}</span>
                  <i class="fa fa-map-marker fa-fw text-muted"></i> 
                  地址
                </li>

                <li class="list-group-item bg-light">
                  <span class="badge bg-info">{{brand.description}}}</span>
                  <i class="fa fa-info fa-fw text-muted"></i> 
                  描述
                </li>
              </ul>
            </accordion-group>
            <accordion-group>
            <accordion-heading>
            <i class="fa fa-fw fa-user text-muted m-r"></i>管理员账户
            </accordion-heading>
               <span class="label bg-light">{{brand.user.email}}</span>
               <span><a href="">编辑</a></span>
            </accordion-group>
        </accordion>
      </ul>
      
    </div>
    <!-- / brand meta -->

    <div class="col" >
      <!-- alert -->
      <div class="m-b-md" ng-show="alerts.length>0">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
      </div>
      <!-- / alert -->
      <!-- <div data-ng-include="partial"></div> -->
      <div class="app-content-body fade-in" ui-view></div>
    </div>

  </div>
</div>