<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="init();" ng-controller="CustomerListCtrl">

<!-- main -->
  <div class="col">
  
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black"><a ui-sref="customers.dash">品牌管理</a></h1>
          <small class="text-muted">品牌列表，显示品牌基本信息</small>
        </div>
        <div class="col-sm-6 text-right hidden-xs">
          <div class="btn-group dropdown" dropdown>
              <button class="btn m-b-xs btn-sm btn-primary btn-addon" ng-click="$state.go('customers.brand.new')"><i class="fa fa-plus"></i>添加品牌</button>
            </div>
        </div>
      </div>
    </div>
    <!-- / main header -->

    <!-- main -->
      <div class="row">
        <div class="wrapper-md">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row m-t-md">
                <div class="col-sm-4">
                  <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm m-t-none m-b" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                </div>
                <div class="col-sm-4">
                  <div class="input-group">
                    <input type="text" class="input-sm form-control" placeholder="输入查找内容" ng-model="searchText">
                    <span class="input-group-btn">
                      <button class="btn btn-sm btn-default" type="button">查找</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="table-responsive">
              <table class="table table-striped b-t b-light">
                <thead class="bg-light">
                  <tr>
                    <th width="15%">品牌名</th>
                    <th width="15%">行业</th>
                    <th width="15%">品牌状态</th>
                    <th width="15%">更新周期</th>
                    <th width="15%">下次更新时间</th>
                    <th width="10%">门店数</th>
                    <th >创建时间</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="row in normalizedDataSource | filter:searchText" st-select-row="row">
                    <td><a ui-sref="customers.brand.detail({brandId:row._id})">{{row.brand | uppercase}}</a></td>
                    <td>{{row.industry}}</td>
                    <td>{{row.status}}</td>
                    <td>{{row.updatePeriod}}</td>
                    <td>{{row.updatePeriod}}</td>
                    <td><span class="badge bg-{{row.sitesCount==0?'dk':'success'}}">{{row.sitesCount}}</span></td>
                    <td>{{row.created |  fromNow}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
  </div>
  <!-- /main -->
</div>