<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="init();" ng-controller="StoreListCtrl">

<!-- main -->
  <div class="col">
  
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black"><a ui-sref="customers.dash">客户管理</a></h1>
          <small class="text-muted"><a ui-sref="customers.brand.detail({brandId:brand._id})">{{brand.brand | uppercase}}</a> 所有门店</small>
        </div>
        <div class="col-sm-6 text-right hidden-xs">
          <div class="btn-group dropdown" dropdown>
            <a class="btn m-b-xs btn-sm btn-primary btn-addon" ui-sref="customers.store.add({brandId:brand._id})"><i class="fa fa-plus"></i>添加门店</a>
          </div>
        </div>
      </div>
    </div>
    <!-- / main header -->

    <!-- main -->
      <div class="col">
        <div class="wrapper-md">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row m-t-md">
                <div class="col-sm-4">
                  <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm m-t-none m-b" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                </div>
                <div class="col-sm-4">
                  <div class="input-group">
                    <input type="text" class="input-sm form-control" placeholder="输入查找内容" ng-model="searchText">
                    <span class="input-group-btn">
                      <button class="btn btn-sm btn-default" type="button">查找</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="table-responsive">
              <table class="table table-striped b-t b-light">
                <thead class="bg-light">
                  <tr>
                    <th width="15%">客户</th>
                    <th width="15%">门店</th>
                    <th width="15%">门店编码</th>
                    <th width="10%">店长</th>
                    <th width="15%">添加时间</th>
                    <th width="15%">关联播放列表数</th>
                    <th>最后绑定时间</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="row in normalizedDataSource | filter:searchText" st-select-row="row">
                    <td><a ui-sref="customers.brand.detail({brandId:brand._id})">{{brand.brand | uppercase}}</a></td>
                    <td><a ui-sref="customers.store.detail({brandId:brand._id,storeId:row._id})">{{row.siteName}}</a></td>
                    <td>{{row.reference}}</td>
                    <td>{{row.manager.name}}</td>
                    <td>{{row.created |  fromNow}}</td>
                    <td>{{row.siteProgramsCount}}</td>
                    <td><span ng-show="row.lastBindDate!=null">{{row.lastBindDate | fromNow}}</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    
    </div>
  </div>
  <!-- /main -->

</div>