<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="StoreEditCtrl">

<!-- main -->
  <div class="col">
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-8 col-xs-12">
          <div class="h4 m-t-xs m-b-xs">
            {{store.siteName | uppercase}}店
          </div>
          <small class="text-muted">{{store.reference}}</small>
          <small class="text-muted">经理：{{store.manager.name}}</small>
          <small class="text-muted">店铺地址：{{store.address}}</small>
          <small class="text-muted">创建时间：{{store.created | fromNow}}</small>
          <span class="label bg-primary m-l-sm">频道：{{store.channelName}}</span>
        </div>
        <div class="col-sm-4 text-right hidden-xs">
          <div class="wrapper-sm">
            <a ng-click="showItem('editStore')" class="m-r" tooltip="修改"><i class="fa fa-edit text-muted m-r-sm"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!-- main -->
      <div class="row">
        <div class="wrapper-md">
          <div class="panel-heading font-bold">编辑门店信息</div>
            <div class="panel-body">
              <form name="editStore" class="form-horizontal m-t-lg">
            <div class="form-group">
              <label class="col-lg-2 control-label">品牌</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" ng-model="brand.brand" required disabled>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">店名</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" ng-model="store.siteName" required>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">店铺ID</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" ng-model="store.reference" required>
              </div>
            </div>

            <!-- <div class="form-group">
              <label class="col-lg-2 control-label">地址</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" ng-model="store.address" required>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">经度</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" ng-model="store.latitude" required>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">纬度</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" ng-model="store.longitude" required>
              </div>
            </div>
 -->
            <!-- <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">详细描述</label>
              <div class="col-sm-8">
                <textarea class="form-control h-auto" style="min-height:200px;" ng-model="store.description">{{store.description}}
                </textarea>
              </div>
            </div> -->

            <div class="form-group">
              <div class="col-lg-8 col-lg-offset-2">
                <button type="submit" class="btn btn-danger" ng-click="hideMe()">取消编辑</button>
                <button class="btn btn-success pull-right w-xs" ng-click="saveStore()">保存</button>
              </div>
            </div>
          </form>
            </div>
          </div>
      </div>
  </div>
  <!-- /main -->

</div>