<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="init()" ng-controller="CustomerDetailCtrl">
  <div class="col">

    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black"><a ui-sref="customers.brand">品牌管理</a></h1>
          <small class="text-muted">{{brand.brand | uppercase}}</small>
        </div>
        <div class="col-sm-6 text-right hidden-xs">

          <div class="btn-group dropdown" dropdown>
            <a class="btn m-b-xs btn-sm btn-primary btn-addon" ng-click="showItem('addStore')"><i class="fa fa-plus"></i>添加门店</a>
            <button class="btn m-b-xs btn-sm btn-primary" dropdown-toggle><span class="caret"></span></button>
             <ul class="dropdown-menu">
              <li><a ng-click="showItem('addcontact')">添加联系人</a></li>
              <li class="divider"></li>
              <li><a ng-click="showItem('editBrand')">编辑</a></li>
              <li><a href>删除</a></li>
              <li class="divider"></li>
              <li><a ui-sref="customers.invoice({brandId:brand._id})">查看发票</a></li>
              <li class="divider"></li>
              <li><a href ng-click="showSetManager=!showSetManager">设置品牌管理员</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- / main header -->

    <!-- brand meta -->
    <div class="col w-lg bg-light b-r bg-auto">

      <div class="wrapper-sm b-b">
        <a ng-click="showItem('editBrand')" class="m-r" tooltip="修改"><i class="fa fa-edit text-muted m-r-sm"></i></a>
        <a ng-click="showItem('addcontact')" class="m-r" tooltip="添加联系人"><i class="icon icon-user-follow text-muted m-r-sm"></i></a>
        <a ng-click="showItem('addStore')" class="m-r" tooltip="添加门店"><i class="fa fa-bank fw text-muted m-r-sm"></i></a>
      </div>

      <!-- <div class="panel-body">
        <div class="clearfix text-center m-t">
          <div class="inline">
            <div class="inline" style="width: 100px; height: 100px; line-height: 100px;">
              <div class="thumb-lg m-t-n-xxl">
                <img data-ng-src="{{brand.logo}}"/>
              </div>
            </div>
            <div class="h4 m-t m-b-xs">{{brand.brand | uppercase}}</div>
            <small class="text-muted m-b clearfix">{{brand.industry}}</small>
            <small class="text-muted m-b clearfix">{{brand.status}}</small>
          </div>                      
        </div>
      </div> -->

      <div class="panel-heading b-b wrapper-md">
        <div class="clearfix">
          <a ng-click="showItem('store')">
          <div class="pull-left thumb-md avatar b-3x m-r">
            <img src="{{brand.logo==null?'img/default_logo.png':brand.logo}}" alt="...">
          </div>
          </a>
          <div class="clear">
            <a ng-click="showItem('store')">
            <div class="h4 m-t-xs m-b-xs">
              {{brand.brand | uppercase}}
            </div>
            </a>
            <small class="text-muted clearfix">{{brand.industry}}</small>
            <small class="text-muted clearfix">{{brand.status==null?'状态未知':brand.status}}</small>
          </div>
        </div>
      </div>

      <ul class="list-group">

        <a ng-click="showItem('store')" class="list-group-item bg-light" ng-class="{{store==true?'lter':''}}">
          <span class="badge bg-success">{{brand.sitesCount}}</span>
          <i class="fa fa-bank fa-fw text-muted"></i> 
          门店
        </a>

        <a ng-click="showItem('contact')" class="list-group-item bg-light">
          <span class="badge bg-success">{{leader.name}}</span>
          <i class="fa fa-user fa-fw text-muted"></i> 
          联系人
        </a>

        <li class="list-group-item bg-light">
          <span class="badge bg-light">{{brand.updatePeriod}}</span>
          <i class="fa fa-calendar-o fa-fw text-muted"></i> 
          更新周期
        </li>

        <li class="list-group-item bg-light" >
          <span class="badge bg-light">{{brand.nextUpdateDate | fromNow}}</span>
          <i class="fa fa-warning fa-fw text-muted"></i> 
          下次更新
        </li>

        <li class="list-group-item bg-light">
          <span class="badge bg-info">{{brand.created | fromNow}}</span>
          <i class="fa fa-clock-o fa-fw text-muted"></i> 
          创建时间
        </li>
      </ul>
      <div class="row padder no-gutter">
        {{brand.description}}
      </div>


                 <!--  <h4 class="panel-heading font-bold">管理员账号设置</h4>
        <div class="panel-body">
          <form name="form" class="form-horizontal m-t-lg form-validation ">

            <div class="input-group m-b">
              <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw text-muted"></i></span>
              <input type="text" class="form-control" ng-model="manager.email" placeholder="Email">
            </div>

            <div class="input-group m-b">
              <span class="input-group-addon"><i class="fa fa-key fa-fw text-muted"></i></span>
              <input type="password" class="form-control" ng-model="manager.password" placeholder="密码">
            </div>

            <div class="form-group">
              <div class="col-lg-8 col-lg-offset-2">
                <button type="submit" class="btn btn-sm btn-success pull-right" ng-disabled="form.$invalid" ng-click="setManager()">设置</button>
                <button type="submit" class="btn btn-sm btn-danger" ng-click="showSetManager=false;">取消</button>
              </div>
            </div>
          </form>
        </div> -->

        <!-- <ul class="list-group list-group-sp" ng-show="search.query.count > 1">
          <li class="list-group-item" ng-repeat="loc in search.query.results.place">
            <a class="clear text-ellipsis" ng-click="getWeather(loc.woeid, loc.name, loc.country.content)">{{loc.name}}, {{loc.admin1.content}}, {{loc.country.content}}</a>
          </li>
        </ul>
        <ul class="list-group list-group-sp">
          <li class="list-group-item">
            <a href ng-click="getWeather(2459115,'New York','United States')">New York</a>
          </li>
          <li class="list-group-item">
            <a href ng-click="getWeather(615702,'Paris','France')">Paris</a>
          </li>
          <li class="list-group-item">
            <a href ng-click="getWeather(44418,'London','United Kingdom')">London</a>
          </li>
          <li class="list-group-item">
            <a href ng-click="getWeather(1105779,'Sydney','Australia')">Sydney</a>
          </li>
        </ul> -->
    </div>
    <!-- / brand meta -->

    <div class="col">
      <div data-ng-include="partial"></div>
      <!-- <div data-ng-include data-ng-src="{{partial}}"></div> -->
      <!-- <ng-include ng-if="displayItemList.contact" src="'tpl/com.envomuse/customers_contact_list.html'"></ng-include>
      <ng-include ng-if="displayItemList.addcontact" src="'tpl/com.envomuse/customers_contact_new.html'"></ng-include>
      <ng-include ng-if="displayItemList.store" src="'tpl/com.envomuse/customers_store_list.html'"></ng-include>
      <ng-include ng-if="displayItemList.addStore" src="'tpl/com.envomuse/customers_store_new.html'"></ng-include>
      <ng-include ng-if="displayItemList.storeDetail" src="'tpl/com.envomuse/customers_store_detail.html'"></ng-include>
      <ng-include ng-if="displayItemList.editBrand" src="'tpl/com.envomuse/customers_brand_edit.html'"></ng-include>
 -->
      <!-- <div data-ng-include="'tpl/com.envomuse/customers_contact_list.html'" ng-show="displayItemList.contact"></div>
      <div data-ng-include="'tpl/com.envomuse/customers_contact_new.html'" ng-show="displayItemList.addcontact"></div>
      <div data-ng-include="'tpl/com.envomuse/customers_store_list.html'" ng-show="displayItemList.store"></div>
      <div data-ng-include="'tpl/com.envomuse/customers_store_new.html'" ng-show="displayItemList.addStore"></div>
      <div data-ng-include="'tpl/com.envomuse/customers_store_detail.html'" ng-show="displayItemList.storeDetail"></div>
      <div data-ng-include="'tpl/com.envomuse/customers_brand_edit.html'" ng-show="displayItemList.editBrand"></div>
      <div ng-show="showManager">
      </div> -->
    </div>

  </div>
</div>