<div ng-controller="CustomerListCtrl">
  <!-- breadcrumb -->
  <div class="row">
    <div class="bg-light lter">
      <ul class="breadcrumb bg-white b-b wrapper-md m-l m-b-xs">
        <li><a ui-sref="app.dashboard"><i class="fa fa-home"></i> Dashboard </a></li>
        <li><a ui-sref="customers.dash">客户管理</a></li>
        <li class="active">{{listState | uppercase }}</li>
      </ul>
    </div>
  </div>
  <!-- / breadcrumb -->

  <div class="wrapper-md">
    <div class="b-b m-b-lg">
      <div class="row">
        <div class="col-sm-6 col-xs-12 text-middle">
          <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" ng-init="init()" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm m-t-none m-b" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
        </div>
      </div>
    </div>
    
    <div ng-repeat="item in datasource" class="col-sm-3">
      <div class="panel b-a">
        <div class="panel-heading no-border bg-light dker">          
          <span class="pull-right"><i class="fa fa-leaf"></i> {{item.industry }} </span>
          <span class="text-lt"><a ui-sref="customers.brand.detail({brandId:item._id})">{{item.brand | uppercase}}</a></span>
        </div>
        <div class="item m-l-n-xxs m-r-n-xxs b-b">
          <div class="panel-body">
          <div class="clearfix text-center m-t">
            <div class="inline" style="width: 100px; height: 100px; line-height: 100px;">
                <a ui-sref="customers.brand.detail({brandId:item._id})">
                  <div class="thumb-lg m-t-n-xxl">
                    <img src="{{item.logo}}" alt="LOGO {{item.brand}}">
                  </div>
                </a>
              </div>
            </div>                      
          </div>
        </div>
        <div class="hbox text-center b-b b-light text-sm">          
          <a ui-sref="customers.store({brandId:item.id})" class="col padder-v text-muted b-r b-light">
            <i class="icon-bag block m-b-xs fa-2x"></i>
            <span>{{item.storeNumber}}</span>
          </a>
          <a href class="col padder-v text-muted">
            <i class="icon-refresh block m-b-xs fa-2x"></i>
            <span>{{item.nextUpdateDate | date : "MMM-dd"}}</span>
          </a>            
        </div>
      </div>
    </div>
  </div>
</div>