<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="init();" ng-controller="StoreListCtrl">
  <div class="col">

    <div class="wrapper-md" ng-show="datasource.length==0">
      暂时没有门店，马上<button class="btn m-b-xs btn-sm btn-info m-l" ui-sref="customers.store.add({brandId:brand._id})">添加门店</button>
    </div>      
    <div class="bg-light b-r bg-auto no-padder" style="height:500px" ng-show="bigTotalItems>0">
      <div class="vbox">
        <div class="wrapper-md b-b">
          <div class="row">
            <div class="col-sm-6">
              <pagination total-items="bigTotalItems" items-per-page="pageItems" num-pages="numPages"  max-size="maxSize" ng-model="bigCurrentPage" ng-change="pageChanged()" class="pagination-sm m-t-none m-b" boundary-links="true" rotate="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="icon text-mute icon-magnifier"></i></span>
                <input type="text" class="input-sm form-control" placeholder="输入查找内容" ng-model="searchText">
              </div>
            </div>
          </div>
        </div>
        <div class="row-row">
          <div class="cell">
            <div class="cell-inner">

              <div class="table-responsive">
                <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="5">
                  <thead>
                    <tr>
                      <th data-toggle="true">门店</th>
                      <th data-toggle="true" data-hide="phone,tablet">门店编码</th>
                      <th data-toggle="true">设备号</th>
                      <th data-toggle="true">频道</th>
                      <th data-toggle="true">交付状态</th>
                      <th data-toggle="true">交付日期</th>
                      <th data-toggle="true">单号</th>
                      <th data-toggle="true">连接状态</th>
                      <th data-toggle="true">license</th>
                      <th>禁用状态</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="row in normalizedDataSource | filter:searchText" st-select-row="row" ng-class="{warning: row.disable, success:  !row.disable}">
                      <!-- <td><a ng-click="showItem('storeDetail','{{row._id}}')">{{row.siteName}}</a> </td> -->
                      <td><a ui-sref="customers.store.detail({brandId:brand._id,storeId:row._id})">{{row.siteName}}</a> </td>
                      <td>{{row.reference}}</td>
                      <td>{{row.deviceId}}</td>
                      <td><span class="label bg-{{row.channelType}}">{{row.channelName}}</span></td>
                      <td><i class="fa fa-circle text-{{row.deliverState}} text-xs m-t-sm"></i></td>
                      <td>{{row.deliverDate | date: 'y-M-d'}}</td>
                      <td>{{row.deliverComment}}</td>
                      <td><i class="fa fa-circle text-{{row.playerStatus}} text-xs m-t-sm"></i></td>
                      <td>{{row.license}}</td>
                      <td>
                      <a ng-click="toggleActive(row._id,row.disable)"><i class="fa fa-lock" ng-show="{{row.disable}}"></i>
                      <i class="fa fa-unlock" ng-show="{{!row.disable}}"></i></a>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>