<div ng-controller="JobDetailCtrl">
  <!-- breadcrumb -->
  <div class="row">
    <div class="bg-light lter">
      <ul class="breadcrumb bg-white b-b wrapper-md m-l m-b-xs">
        <li><a ui-sref="app.dashboard"><i class="fa fa-home"></i> Dashboard </a></li>
        <li><a ui-sref="jobs.dash">工作管理</a></li>
        <li><a ui-sref="jobs.list">所有工作</a></li>
        <li class="active">{{job.uuid | uppercase }}</li>
      </ul>
    </div>
  </div>
  <!-- / breadcrumb -->

  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="m-r-lg">客户名称：{{job.associatedBrand | uppercase }}</span>
        <span>创作者：{{job.creator}}</span>
      </div>
      <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th width="10%">序号</th>
          <th width="10%">名称</th>
          <th width="10%">日期类型</th>
          <th width="10%">日期定义</th>
          <th>RULES</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rowCollectionBasic" st-select-row="row">
          <td>{{ $index + 1 }}</td>
          <td><a ui-sref="jobs.program({jobId:job.id,programId:row.programId})">{{row.programName}}</a></td>
          <td>{{row.calcType}}</td>
          <td>{{row.dValues}}</td>
          <td>
            <span ng-repeat="r in row.rules" class="m-r-sm b">
              <a ui-sref="jobs.rule({jobId:job.id,programId:row.programId,ruleId:r.ruleId})">{{r.timeslot}}:{{r.ruleName}}</a>
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>