<div ng-controller="ProgramDetailCtrl">
  <!-- breadcrumb -->
  <div class="row">
    <div class="bg-light lter">
      <ul class="breadcrumb bg-white b-b wrapper-md m-l m-b-xs">
        <li><a ui-sref="app.dashboard"><i class="fa fa-home"></i> Dashboard </a></li>
        <li><a ui-sref="jobs.dash">工作管理</a></li>
        <li><a ui-sref="jobs.list">所有工作</a></li>
        <li><a ui-sref="jobs.detail({jobId:job._id,jobContent:job})">{{job.programName | uppercase }}</a></li>
        <li class="active">{{program.name | uppercase }}</li>
      </ul>
    </div>
  </div>
  <!-- / breadcrumb -->

  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="m-r-lg">{{program.name | uppercase }}</span>
        <span class="m-r-lg">{{program.timePeriods.calcType }}</span>
        <span class="m-r-lg">{{program.timePeriods.dValues }} </span></div>  
      <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th width="10%">时间段</th>
          <th width="10%">情景段</th>
          <th>曲风盒</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in program.dayRuleUnits" st-select-row="row">
          <td>{{ row.starthour }} --> {{ row.endhour }}</td>
          <td><a ui-sref="jobs.rule({ruleId:row._id,jobContent:job,programContent:program,ruleContent:row})">{{row.ruleName}}</a></td>
          <td>
            <span ng-repeat="r in row.boxes" class="m-r-sm b">
              <a ui-sref="jobs.box({boxId:r._id,jobContent:job,programContent:program,ruleContent:row,boxContent:r})">{{r.name}}</a>
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>