<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="init();" ng-controller="JobListCtrl">

<!-- main -->
  <div class="col">
  
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-4">
          <h1 class="m-n font-thin h3 text-black">工作包管理</h1>
          <small class="text-muted">已导入系统的所有可用工作包</small>
        </div>
        <div class="col-sm-3 text-right hidden-xs">
          <!-- search form -->
          <div class="form-group">
            <div class="input-group">
              <input type="text" ng-model="searchText" class="form-control input-sm bg-light no-border rounded padder" placeholder="查找...">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
          <!-- / search form -->
        </div>
      </div>
    </div>
    <!-- / main header -->

    <div class="row">
      <div class="wrapper-md m-t-n">
        <div ng-show="datasource.length==0">
          <alert type="warning">还没有工作包！<button class="btn m-b-xs btn-sm btn-info" ng-click="$state.go('tasks.incoming')">查看任务</button></alert>
        </div>
        <div ng-show="datasource.length>0" class="col-sm-3" ng-repeat="item in datasource | filter:searchText">
          <div class="panel panel-default">
            <a ui-sref="jobs.detail({jobId:item._id})">
            <div class="panel-heading">
              <div class="clearfix">
                <div class="pull-left thumb-md avatar b-3x m-r">
                  <img src="img/icons/tasks_64.png" alt="...">
                </div>
                <div class="clear">
                  <div class="h4 m-t-xs m-b-xs">
                    {{item.programName | uppercase}}
                  </div>
                  <small class="text-muted clearfix">导入时间：{{item.created | fromNow}}</small>
                </div>
              </div>
            </div>
            </a>
            <div class="list-group no-radius alt">
              <div class="list-group-item">
                <span class="pull-right"><span class="badge bg-light">{{item.brand | uppercase }}</span></span>
                <i class="icon icon-trophy text-muted"></i> 
                目标品牌
              </div>
              <div class="list-group-item">
                <span class="pull-right"><span class="badge bg-light">{{item.creator}}</span></span>
                <i class="icon icon-earphones text-muted"></i> 
                创建人
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>