<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="app.settings.asideFolded = false; app.settings.asideDock = false; isCollapsed = true;" ng-controller="FullcalendarCtrl">

  <div class="col">
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">播放列表管理</h1>
          <small class="text-muted">{{playlist.name | uppercase }} 播排日历</small>
        </div>
        <div class="col-sm-6 text-right hidden-xs">

          <div class="btn-group dropdown" dropdown>
            <a class="btn m-b-xs btn-sm btn-primary btn-addon" ng-show="isCollapsed" ng-click="isCollapsed=false"><i class="fa fa-random"></i>关联门店</a>
            <a class="btn m-b-xs btn-sm btn-primary btn-addon" ng-show="!isCollapsed" ng-click="isCollapsed=true"><i class="fa fa-toggle-left"></i>隐藏</a>
          </div>

        </div>
      </div>
    </div>
    <!-- / main header -->

    <div class="col">
      <div class="wrapper">
        <div class="row wrapper">
          <!-- calendar -->
            <div class="hbox hbox-auto-xs hbox-auto-sm">
              <div class="col wrapper-md">
                <div class="clearfix m-b">
                  <!-- <button type="button" tooltip="Double click on calendar day to create event" class="btn btn-sm btn-primary btn-addon" ng-click="addEvent()">
                    <i class="fa fa-plus"></i>Add
                  </button> -->
                  <div class="pull-right">
                    <button type="button" class="btn btn-sm btn-default" ng-click="today()">今天</button>
                    <div class="btn-group m-l-xs">
                      <!-- <button class="btn btn-sm btn-default" ng-click="changeView('agendaDay')">单日</button> -->
                      <button class="btn btn-sm btn-default" ng-click="changeView('agendaWeek')">周</button>
                      <button class="btn btn-sm btn-default" ng-click="changeView('month')">月</button>
                    </div>
                  </div>
                </div>
                <div class="pos-rlt">
                  <div class="fc-overlay">
                    <div class="panel bg-white b-a pos-rlt">
                      <span class="arrow"></span>
                      <div class="h4 font-thin m-b-sm">{{event.title}}</div>
                      <div class="line b-b b-light"></div>
                      <div><i class="icon-calendar text-muted m-r-xs"></i> {{event.start | date:'medium'}}</div>
                      <div class="ng-hide" ng-show='event.end'><i class="icon-clock text-muted m-r-xs"></i> {{event.end | date:'medium'}}</div>
                      <div class="line b-b b-light"></div>
                      <div><a ui-sref="playlists.dailydetail({playlistId:event.id,dailyPlaylistContent:event.dailyPlaylistContent,playlistContent:event.playlistContent})"><i class="icon-clock text-muted m-r-xs"></i> 详细信息 </a></div>
                      <!-- <div class="ng-hide" ng-show='event.location'><i class="icon-pointer text-muted m-r-xs"></i> {{event.location}}</div>
                      <div class="m-t-sm">{{event.info}}</div>
                      <div class="m-t-sm">{{event.url}}</div> -->
                    </div>
                  </div>
                  <div class="calendar" ng-model="eventSources" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
                </div>
              </div>
              <!-- <div class="col w-md w-auto-xs bg-light dk bg-auto b-l hide" id="aside">
                <div class="wrapper">
                  <div ng-repeat="e in events" class="bg-white-only r r-2x m-b-xs wrapper-sm {{e.className[0]}}">          
                    <input ng-model="e.title" class="form-control m-t-n-xs no-border no-padder no-bg">
                    <a class="pull-right text-xs text-muted" ng-click="remove($index)"><i class="fa fa-trash-o"></i></a>
                    <div class="text-xs text-muted">{{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}</div>
                  </div>
                </div>
              </div> -->
            </div>
          <!-- /calendar -->
        </div>
      </div>
    </div>
  </div>