<div ng-controller="PlaylistDetailCtrl">
  <!-- breadcrumb -->
  <div class="row">
    <div class="bg-light lter">
      <ul class="breadcrumb bg-white b-b wrapper-md m-l m-b-xs">
        <li><a ui-sref="app.dashboard"><i class="fa fa-home"></i> Dashboard </a></li>
        <li><a ui-sref="playlists.dash">播放列表管理</a></li>
        <li><a ui-sref="playlists.list">所有播放列表</a></li>
        <li class="active">{{playlist.name | uppercase }}</li>
      </ul>
    </div>
  </div>
  <!-- / breadcrumb -->

  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="m-r-lg">原JOB索引：{{playlist.associatedJobId}}</span>
        <span class="m-r-lg">生成时间：{{playlist.generationDate}}</span>
        <span class="m-r-lg">开始时间：{{playlist.startDate}}</span>
        <span class="m-r-lg">结束时间：{{playlist.endDate}}</span>
        <span class="m-r-lg">关联的客户：{{playlist.associatedBrandName}}</span>
        <span class="m-r-lg">关联的店铺：{{playlist.associatedStoreName}}</span>
      </div>
      <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th width="10%">序号</th>
          <th width="10%">日期</th>
          <th>曲目</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rowCollectionBasic" st-select-row="row">
          <td>{{ $index + 1 }}</td>
          <td>{{row.listDate}}</td>
          <td>
            <span ng-repeat="t in row.tracks" class="m-r-sm b">
             {{t.trackName}}
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>