<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="app.settings.asideFolded = false; app.settings.asideDock = false;init();" ng-controller="PlaylistBindCtrl">

  <!-- main -->
  <div class="col">
  
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">播放列表管理</h1>
          <small class="text-muted">{{playlist.name | uppercase }}</small>
        </div>
        <div class="col-sm-6 text-right hidden-xs">
        </div>
      </div>
    </div>
    <!-- / main header -->

    <!-- main -->
    <div class="col">
      <div class="wrapper">
        <div class="row wrapper">

          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="m-r-lg">原JOB索引：{{playlist.job}}</span>
              <span class="m-r-lg">生成时间：{{playlist.created}}</span>
              <span class="m-r-lg">开始时间：{{playlist.displayStartDate}}</span>
              <span class="m-r-lg">结束时间：{{playlist.displayEndDate}}</span>
            </div>
          </div>

          <!-- alert -->
          <div class="m-b-md">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
          </div>
          <!-- / alert -->

          <div class="m-sm">
            <form name="form" class="form-validation">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span class="h4">播放列表与店铺关联</span>
                </div>

                <div class="panel-body">

                  <div class="form-group">
                    <label class="col-lg-2 control-label">客户</label>
                    <div class="col-lg-8">
                      <select ui-jq="chosen" ng-change="showStores()" data-placeholder="选择客户" class="form-control" ng-model="selectedBrandId">
                        <option ng-repeat="b in customers" value="{{b._id}}">{{b.brand}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="line line-dashed b-b line-lg pull-in"></div>

                  <div class="form-group">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        店铺/POS
                      </div>

                      <div class="panel-body">
                        <div ng-show="sites.length === 0">
                          该客户暂时没有店铺，请先添加店铺再绑定。
                          <span class="text-lt"><a ui-sref="customers.brand.detail({brandId:selectedBrandId})">>去添加店铺</a></span>
                        </div>
                        <div class="col-sm-4" ng-repeat="s in sites">
                          <div class="checkbox">
                            <label class="i-checks">
                              <!-- <input type="checkbox" ng-checked="!s.associatedPlaylistId" ng-disabled="!s.associatedPlaylistId" value=""> -->
                              <input type="checkbox" value="{{s._id}}" ng-checked="checkedSites.indexOf(s._id)>-1" ng-click="chooseSite(s._id)">
                              <i></i>
                              <!-- <a ui-sref="customers.store.detail({brandId:selectedBrandId,storeId:s._id})">{{s.siteName}}</a> -->
                              {{s.siteName}}
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <footer class="panel-footer text-right bg-light lter">
                  <button type="submit" class="btn btn-success" ng-disabled="form.$invalid" ng-click="startBind()">关联</button>
                </footer>
              </div>
            </form>
          </div>
          
        </div>
          
      </div>
    </div>
    <!-- /main -->

  </div>
</div>