<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="ComingJobsCtrl">
  
  <!-- main -->
  <div class="col">
  
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black"><a ui-sref="tasks.dash">任务管理</a></h1>
          <small class="text-muted">所有待处理任务均显示在此，可在此导入这些任务</small>
        </div>
        <div class="col-sm-6 text-right hidden-xs">
          <div class="btn-group dropdown" dropdown>
            <button class="btn m-b-xs btn-sm btn-danger btn-addon" ng-click="refresh();"><i class="fa fa-refresh"></i>手动刷新</button>
          </div>
        </div>
      </div>
    </div>
    <!-- / main header -->

<div class="col">
    <div class="wrapper-md">
      <!-- stats -->
        <div class="row row-sm text-center">

          <div class="panel-default">
            <div class="panel-heading">
              <span class="label bg-danger pull-right m-t-xs">{{count}} 个新任务</span>
              任务列表
            </div>
            <table class="table table-striped m-b-none">
              <thead>
                <tr>
                  <th class="text-center">序号</th>
                  <th class="text-center">品牌</th>
                  <th class="text-center">DJ</th>
                  <th class="text-center">状态</th>
                  <th class="text-center"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="r in jobs">
                  <td>
                  {{$index+1}}
                  </td>
                  <td>
                  {{r.customerName}}
                  </td>
                  <td>
                  {{r.creator}}
                  </td>
                  <td>
                  {{r.importStatus}}
                  </td>
                  <td>
                    <button class="btn btn-primary" ng-show="{{r.importStatus==='待导入'}}" ng-click="doImport(r._id)">导入</button>
                    <!-- <button class="btn btn-success" ng-show="{{r.importStatus=='导入完成'}}">查看</button> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-xs-12 m-b-md">
            <div class="r bg-light dker item hbox no-border">
            </div>
          </div>
        </div>

      <!-- / stats -->
    </div>
  </div>
  <!-- /main -->

  <!-- right col -->
  <div class="col w-md bg-white-only b-l bg-auto no-border-xs">
    <!-- help -->
    <div class="padder-md m-t">      
      <div class="m-b text-md">帮助</div>
      <div class="streamline b-l m-b">
        <div class="sl-item">
          <div class="m-l">
            <p>任务为管理员穿到系统中的未导入系统的压缩文件包</p>
          </div>
        </div>
        <div class="sl-item">
          <div class="m-l">
            <p>任务由DJ使用编辑器生成，并经过审核方可传至系统。</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /help -->
  </div>
  <!-- / right col -->

</div>