<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="ComingJobsCtrl">
  <!-- refresh loading layer -->
  <div class="loading" ng-show="isRefreshing">
    <h1 class="loading-img"><i class="fa fa-refresh fa-spin text-info text-xxl"></i></h1>
  </div>
  <!--/ refresh loading layer -->

  <div class="row padder">
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black"><a ui-sref="tasks.dash">任务管理</a></h1>
          <small class="text-muted">所有待处理任务均显示在此，可在此导入这些任务</small>
        </div>
        <div class="col-sm-6 text-right hidden-xs">
          <div class="btn-group dropdown" dropdown>
            <button class="btn m-b-xs btn-sm btn-danger btn-addon" ng-click="refresh();" ng-show="!isRefreshing"><i class="fa fa-refresh"></i>手动刷新</button>
          </div>
        </div>
      </div>
    </div>
    <!-- / main header -->

    <!-- job list -->
    <div class="col">
      <div class="wrapper-md">
        <div class="row row-sm text-center">
          <div class="panel-default">
            <div class="panel-heading">
              <span class="label bg-danger pull-right m-t-xs">{{count}} 个任务</span>
              任务列表
            </div>
            <table class="table table-striped m-b-none">
              <thead>
                <tr>
                  <th class="text-center">序号</th>
                  <th class="text-center">品牌</th>
                  <th class="text-center">DJ</th>
                  <th class="text-center">状态</th>
                  <th class="text-center">描述</th>
                  <th class="text-center">导入时间</th>
                  <th class="text-center"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="r in jobs">
                  <td>{{$index+1}}</td>
                  <td>{{r.customerName}}</td>
                  <td>{{r.creator}}</td>
                  <td>
                    <!-- to be imported -->
                    <i class="fa fa-upload text-warning" ng-show="{{r.importStatusFlag==0}}"></i>
                    <!-- /to be imported -->
                    <!-- importing -->
                    <i class="fa fa-spin fa-cog text-info" ng-show="{{r.importStatusFlag==1}}"></i>
                    <!-- importing -->
                    <!-- imported -->
                    <i class="fa fa-check-circle text-success" ng-show="{{r.importStatusFlag==2}}"></i>
                    <!-- imported -->
                    <!-- import failed -->
                    <i class="fa fa-times-circle text-danger" ng-show="{{r.importStatusFlag==3}}"></i>
                    <!-- /import failed -->
                  </td>
                  <td>{{r.importStatusDescription}}</td>
                  <td>{{r.created | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                  <td>
                    <button class="btn btn-primary btn-sm" ng-show="{{r.importStatusFlag==0}}" ng-click="doImport(r._id)">导入</button>
                    <button class="btn btn-danger btn-sm" ng-show="{{r.importStatusFlag==3}}" ng-click="doImport(r._id)">重新导入</button>
                    <!-- <button class="btn btn-success" ng-show="{{r.importStatus=='导入完成'}}">查看</button> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-xs-12 m-b-md">
            <div class="r bg-light dker item hbox no-border">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /job list -->

    <!-- right col -->
    <div class="col w-md bg-white-only b-l bg-auto no-border-xs">
      <!-- help -->
      <div class="padder-md m-t">      
        <div class="m-b text-md">帮助</div>
        <div class="streamline b-l m-b">
          <div class="sl-item">
            <div class="m-l">
              <p>任务为管理员穿到系统中的未导入系统的压缩文件包</p>
            </div>
          </div>
          <div class="sl-item">
            <div class="m-l">
              <p>任务由DJ使用编辑器生成，并经过审核方可传至系统。</p>
            </div>
          </div>
          <div class="sl-item">
            <div class="m-l">
              <p>已上传的压缩文件若未在此页显示，则可能为后台正忙，可点页面上“手动刷新”按钮强制刷新。</br>
              若5秒后刷新仍未完成，将回到原状态。</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /help -->
    </div>
  <!-- / right col -->
  </div>

</div>