<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="app.settings.asideFolded = false; app.settings.asideDock = true;" ng-controller="UserHomeCtrl">

  <!-- main -->
  <div class="col">
    <div class="row wrapper">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading font-bold">
            门店状态
          </div>
          <div class="panel-body text-center">
            <div ui-jq="plot" ui-options="
              {{d3}},
              {
                series: { pie: { show: true, innerRadius: 0.5, stroke: { width: 0 }, label: { show: true, threshold: 0.05 } } },
                colors: ['{{app.color.primary}}','{{app.color.info}}','{{app.color.success}}','{{app.color.warning}}','{{app.color.danger}}'],
                grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },   
                tooltip: true,
                tooltipOpts: { content: '%s: %p.0%' }
              }
            " style="height:188px">
            </div>
          </div>
        </div> 

        
        <!-- <div class="panel panel-default">
          <div class="panel-heading font-bold">
            门店列表
          </div>
          <div class="panel-heading">
            <div class="row m-t-md">
              <div class="col-sm-4">
                <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm m-t-none m-b" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
              </div>
              <div class="col-sm-4">
                <div class="input-group">
                  <input type="text" class="input-sm form-control" placeholder="输入查找内容" ng-model="searchText">
                  <span class="input-group-btn">
                    <button class="btn btn-sm btn-default" type="button">查找</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          
          <div class="table-responsive">
            <table class="table table-striped b-t b-light">
              <thead class="bg-light">
                <tr>
                  <th width="15%">门店</th>
                  <th width="15%">门店编码</th>
                  <th width="15%">添加时间</th>
                  <th width="10%" class="text-center">交付状态</th>
                  <th width="10%" class="text-center">连接状态</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in normalizedDataSource | filter:searchText" st-select-row="row">
                  <td><a ui-sref="customers.store.detail({brandId:brand._id,storeId:row._id})">{{row.siteName}}</a></td>
                  <td>{{row.reference}}</td>
                  <td>{{row.created |  fromNow}}</td>
                  <td class="text-center"><i class="fa fa-circle text-success text-xs m-t-sm"></i></td>
                  <td class="text-center"><i class="fa fa-circle text-success text-xs m-t-sm"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> -->
      </div> 

      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading font-bold">
            本周播放日历
          </div>
          <div class="panel-body text-center" ng-controller="FullMecalendarCtrl">
            <div class="pos-rlt">
              <div class="fc-overlay">
                <div class="panel bg-white b-a pos-rlt">
                  <span class="arrow"></span>
                  <div class="h4 font-thin m-b-sm">{{event.title}}</div>
                  <div class="line b-b b-light"></div>
                  <div><i class="icon-calendar text-muted m-r-xs"></i> {{event.start | date:'medium'}}</div>
                  <div class="ng-hide" ng-show='event.end'><i class="icon-clock text-muted m-r-xs"></i> {{event.end | date:'medium'}}</div>
                  <div class="line b-b b-light"></div>
                  <div><a ui-sref="playlists.dailydetail({programId:programId,dailyplaylistId:event.id})"><i class="icon-clock text-muted m-r-xs"></i> 详细信息 </a></div>
                </div>
              </div>
              <div class="calendar" ng-model="eventSources" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
            </div>

        </div>
                        
      </div>
    </div>
        
  </div>

</div>