<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="UserHomeCtrl">
  <div class="col">

    <div class="wrapper-md" ng-show="sites.length==0">
      暂时没有门店
    </div>    

    <div class="bg-light b-r bg-auto no-padder" style="height:500px" ng-show="sites.length>0">
      <div class="vbox">
        <div class="wrapper-md b-b">
          <div class="row">
            <div class="col-sm-6">
              <pagination total-items="bigTotalItems" items-per-page="pageItems" num-pages="numPages"  max-size="maxSize" ng-model="bigCurrentPage" ng-change="pageChanged()" class="pagination-sm m-t-none m-b" boundary-links="true" rotate="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="icon text-mute icon-magnifier"></i></span>
                <input type="text" class="input-sm form-control" placeholder="输入查找内容" ng-model="searchText">
              </div>
            </div>
          </div>
        </div>
        <div class="row-row">
          <div class="cell">
            <div class="cell-inner">
              <div class="table-responsive">
                <table class="table table-striped  m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="5">
                  <thead>
                    <tr>
                      <th data-toggle="true" width="25%">门店</th>
                      <th data-toggle="true" data-hide="phone,tablet" width="25%">门店编码</th>
                      <th data-toggle="true" width="25%">设备号</th>
                      <th data-toggle="true" width="25%">连接状态</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="row in sites" st-select-row="row">
                      <td>{{row.siteName}}</td>
                      <td>{{row.reference}}</td>
                      <td>{{row.deviceId}}</td>
                      <td><i class="fa fa-circle text-{{row.playerStatus}} text-xs m-t-sm"></i></td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>